Repository signalridge/clinvoker: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test, go-vet, nix-flake-check, nixfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.8.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, chore, ci, build, perf]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        types_or: [json]
        args: [--write]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]
        files: \.(sh|bash)$
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: go-build
        name: go build
        entry: go build ./...
        language: system
        pass_filenames: false
        types: [go]
      - id: go-test
        name: go test
        entry: go test -race -short ./...
        language: system
        pass_filenames: false
        types: [go]
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        pass_filenames: false
        types: [go]
      - id: nix-flake-check
        name: nix flake check
        entry: nix flake check
        language: system
        pass_filenames: false
        files: (flake\.nix|flake\.lock)$
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$

docs(openspec): track baseline specs in git
  .gitignore
  openspec/specs/backend-registry-and-adapters/spec.md
  openspec/specs/cli-prompt-execution/spec.md
  openspec/specs/configuration-management/spec.md
  openspec/specs/http-api-and-compatibility/spec.md
  openspec/specs/l4-test-coverage/spec.md
  openspec/specs/mcp-http-sse-server/spec.md
  openspec/specs/mcp-prompt-streaming/spec.md
  openspec/specs/mcp-stdio-server/spec.md
  openspec/specs/mcp-tool-schema-derivation/spec.md
  openspec/specs/mcp-tool-surface/spec.md
  openspec/specs/server-security-and-operations/spec.md
  openspec/specs/session-management/spec.md
  openspec/specs/workflow-orchestration/spec.md
Due: none

docs(openspec): track baseline specs and keep changes ignored (#75)
  .gitignore
  openspec/specs/backend-registry-and-adapters/spec.md
  openspec/specs/cli-prompt-execution/spec.md
  openspec/specs/configuration-management/spec.md
  openspec/specs/http-api-and-compatibility/spec.md
  openspec/specs/l4-test-coverage/spec.md
  openspec/specs/mcp-http-sse-server/spec.md
  openspec/specs/mcp-prompt-streaming/spec.md
  openspec/specs/mcp-stdio-server/spec.md
  openspec/specs/mcp-tool-schema-derivation/spec.md
  openspec/specs/mcp-tool-surface/spec.md
  openspec/specs/server-security-and-operations/spec.md
  openspec/specs/session-management/spec.md
  openspec/specs/workflow-orchestration/spec.md
Due: none

feat(cli): align v05 specs and harden coverage
  .github/workflows/ci.yaml
  CHANGELOG.md
  cmd/clinvk/main.go
  cmd/clinvk/main_test.go
  docs/reference/api/rest.md
  docs/reference/cli/chain.md
  docs/reference/cli/compare.md
  docs/reference/cli/config.md
  docs/reference/cli/doctor.md
  docs/reference/cli/index.md
  docs/reference/cli/prompt.md
  docs/reference/cli/serve.md
  docs/reference/cli/sessions.ja.md
  docs/reference/cli/sessions.md
  docs/reference/cli/sessions.zh.md
  internal/app/app.go
  internal/app/app_entry_test.go
  internal/app/cmd_chain.go
  internal/app/cmd_chain_test.go
  internal/app/cmd_compare.go
  internal/app/cmd_compare_test.go
  internal/app/cmd_config.go
  internal/app/cmd_config_lint_test.go
  internal/app/cmd_doctor.go
  internal/app/cmd_doctor_test.go
  internal/app/cmd_resume.go
  internal/app/cmd_serve.go
  internal/app/cmd_serve_test.go
  internal/app/cmd_sessions.go
  internal/app/cmd_sessions_behavior_test.go
  internal/app/cmd_sessions_test.go
  internal/app/execute.go
  internal/app/execute_test.go
  internal/app/stale_session.go
  internal/config/config.go
  internal/server/middleware/auth.go
  internal/server/middleware/auth_test.go
  internal/session/store.go
  test/cli/test_sessions.sh
Due: go-build, go-test, go-vet

feat(cli): align v05 specs and harden coverage (#76)
  .github/workflows/ci.yaml
  CHANGELOG.md
  cmd/clinvk/main.go
  cmd/clinvk/main_test.go
  docs/reference/api/rest.md
  docs/reference/cli/chain.md
  docs/reference/cli/compare.md
  docs/reference/cli/config.md
  docs/reference/cli/doctor.md
  docs/reference/cli/index.md
  docs/reference/cli/prompt.md
  docs/reference/cli/serve.md
  docs/reference/cli/sessions.ja.md
  docs/reference/cli/sessions.md
  docs/reference/cli/sessions.zh.md
  internal/app/app.go
  internal/app/app_entry_test.go
  internal/app/cmd_chain.go
  internal/app/cmd_chain_test.go
  internal/app/cmd_compare.go
  internal/app/cmd_compare_test.go
  internal/app/cmd_config.go
  internal/app/cmd_config_lint_test.go
  internal/app/cmd_doctor.go
  internal/app/cmd_doctor_test.go
  internal/app/cmd_resume.go
  internal/app/cmd_serve.go
  internal/app/cmd_serve_test.go
  internal/app/cmd_sessions.go
  internal/app/cmd_sessions_behavior_test.go
  internal/app/cmd_sessions_test.go
  internal/app/execute.go
  internal/app/execute_test.go
  internal/app/stale_session.go
  internal/config/config.go
  internal/server/middleware/auth.go
  internal/server/middleware/auth_test.go
  internal/session/store.go
  test/cli/test_sessions.sh
Due: go-build, go-test, go-vet

docs(openspec): archive v05 changes into main specs
  openspec/specs/cli-diagnostics-and-config-guardrails/spec.md
  openspec/specs/execution-insights-and-controls/spec.md
  openspec/specs/server-auth-and-key-lifecycle/spec.md
  openspec/specs/session-governance-and-discovery/spec.md
Due: none

docs(openspec): translate synced v0.5 specs to english
  openspec/specs/cli-diagnostics-and-config-guardrails/spec.md
  openspec/specs/execution-insights-and-controls/spec.md
  openspec/specs/server-auth-and-key-lifecycle/spec.md
  openspec/specs/session-governance-and-discovery/spec.md
Due: none

docs(openspec): sync v0.5 archived changes into main specs (#78)
  openspec/specs/cli-diagnostics-and-config-guardrails/spec.md
  openspec/specs/execution-insights-and-controls/spec.md
  openspec/specs/server-auth-and-key-lifecycle/spec.md
  openspec/specs/session-governance-and-discovery/spec.md
Due: none

feat(v06): apply changes and harden retry/session/chain coverage
  docs/reference/cli/sessions.md
  docs/reference/configuration.md
  internal/app/app_entry_test.go
  internal/app/cmd_chain.go
  internal/app/cmd_compare.go
  internal/app/cmd_parallel.go
  internal/app/cmd_sessions.go
  internal/app/cmd_sessions_behavior_test.go
  internal/app/cmd_sessions_test.go
  internal/app/cmd_subcommands_test.go
  internal/app/execution_metrics.go
  internal/app/retry.go
  internal/app/retry_test.go
  internal/auth/lifecycle.go
  internal/auth/lifecycle_test.go
  internal/config/config.go
  internal/config/validate.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  test/cli/test_chain.sh
  test/cli/test_compare.sh
  test/cli/test_parallel.sh
  test/cli/test_sessions.sh
Due: go-build, go-test, go-vet

fix(ci): stabilize retry assertions and unify execution errors
  internal/app/cmd_chain.go
  internal/app/cmd_compare.go
  internal/app/cmd_parallel.go
  internal/app/cmd_sessions.go
  internal/app/retry.go
  internal/app/retry_test.go
Due: go-build, go-test, go-vet

feat: apply v06 changes and strengthen coverage (#79)
  docs/reference/cli/sessions.md
  docs/reference/configuration.md
  internal/app/app_entry_test.go
  internal/app/cmd_chain.go
  internal/app/cmd_compare.go
  internal/app/cmd_parallel.go
  internal/app/cmd_sessions.go
  internal/app/cmd_sessions_behavior_test.go
  internal/app/cmd_sessions_test.go
  internal/app/cmd_subcommands_test.go
  internal/app/execution_metrics.go
  internal/app/retry.go
  internal/app/retry_test.go
  internal/auth/lifecycle.go
  internal/auth/lifecycle_test.go
  internal/config/config.go
  internal/config/validate.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  test/cli/test_chain.sh
  test/cli/test_compare.sh
  test/cli/test_parallel.sh
  test/cli/test_sessions.sh
Due: go-build, go-test, go-vet

docs(openspec): sync v06 changes into main specs
  openspec/specs/execution-insights-and-controls/spec.md
  openspec/specs/execution-metrics-expansion/spec.md
  openspec/specs/server-auth-and-key-lifecycle/spec.md
  openspec/specs/session-governance-and-discovery/spec.md
Due: none

docs(openspec): sync archived v06 changes into main specs (#80)
  openspec/specs/execution-insights-and-controls/spec.md
  openspec/specs/execution-metrics-expansion/spec.md
  openspec/specs/server-auth-and-key-lifecycle/spec.md
  openspec/specs/session-governance-and-discovery/spec.md
Due: none

feat(policy): implement v07 governance engine and full test coverage
  config.example.yaml
  docs/guides/policy-governance.md
  docs/reference/configuration.md
  go.mod
  internal/app/cmd_mcp.go
  internal/app/cmd_serve.go
  internal/auth/keystore.go
  internal/auth/lifecycle.go
  internal/config/config.go
  internal/config/validate.go
  internal/config/validate_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/policy/audit.go
  internal/policy/compiler.go
  internal/policy/compiler_test.go
  internal/policy/configure_test.go
  internal/policy/evaluator.go
  internal/policy/evaluator_test.go
  internal/policy/fault_injection.go
  internal/policy/fault_injection_test.go
  internal/policy/loader.go
  internal/policy/manager.go
  internal/policy/manager_test.go
  internal/policy/middleware.go
  internal/policy/middleware_test.go
  internal/policy/quota_memory.go
  internal/policy/quota_memory_test.go
  internal/policy/quota_store.go
  internal/policy/types.go
  internal/policy/utils.go
  internal/requestctx/identity.go
  internal/server/middleware/auth.go
  internal/server/middleware/auth_test.go
  internal/server/middleware/policy.go
  internal/server/middleware/policy_test.go
  internal/server/router.go
  mkdocs.yml
  test/api/test_policy.sh
Due: go-build, go-test, go-vet

fix(metrics): satisfy golangci-lint goconst and revive rules
  internal/metrics/metrics.go
Due: go-build, go-test, go-vet

chore(ci): align local golangci-lint scope with CI
  .pre-commit-config.yaml
Due: none

feat(policy): implement v07 governance engine with full coverage (#81)
  .pre-commit-config.yaml
  config.example.yaml
  docs/guides/policy-governance.md
  docs/reference/configuration.md
  go.mod
  internal/app/cmd_mcp.go
  internal/app/cmd_serve.go
  internal/auth/keystore.go
  internal/auth/lifecycle.go
  internal/config/config.go
  internal/config/validate.go
  internal/config/validate_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/policy/audit.go
  internal/policy/compiler.go
  internal/policy/compiler_test.go
  internal/policy/configure_test.go
  internal/policy/evaluator.go
  internal/policy/evaluator_test.go
  internal/policy/fault_injection.go
  internal/policy/fault_injection_test.go
  internal/policy/loader.go
  internal/policy/manager.go
  internal/policy/manager_test.go
  internal/policy/middleware.go
  internal/policy/middleware_test.go
  internal/policy/quota_memory.go
  internal/policy/quota_memory_test.go
  internal/policy/quota_store.go
  internal/policy/types.go
  internal/policy/utils.go
  internal/requestctx/identity.go
  internal/server/middleware/auth.go
  internal/server/middleware/auth_test.go
  internal/server/middleware/policy.go
  internal/server/middleware/policy_test.go
  internal/server/router.go
  mkdocs.yml
  test/api/test_policy.sh
Due: go-build, go-test, go-vet

chore: release 0.5.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore: release 0.5.0 (#74)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix(gitignore): Ignore local AI tooling directories
  .gitignore
Due: none

fix(gitignore): ignore local AI tooling directories (#83)
  .gitignore
Due: none

chore: release 0.5.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(nix): update flake.lock
  flake.lock
Due: nix-flake-check
