Repository signalridge/clinvoker: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test, go-vet, nix-flake-check, nixfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.8.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, chore, ci, build, perf]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        types_or: [json]
        args: [--write]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]
        files: \.(sh|bash)$
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: go-build
        name: go build
        entry: go build ./...
        language: system
        pass_filenames: false
        types: [go]
      - id: go-test
        name: go test
        entry: go test -race -short ./...
        language: system
        pass_filenames: false
        types: [go]
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        pass_filenames: false
        types: [go]
      - id: nix-flake-check
        name: nix flake check
        entry: nix flake check
        language: system
        pass_filenames: false
        files: (flake\.nix|flake\.lock)$
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$

feat: enforce backend enabled config and add API dry_run support
  config.example.yaml
  docs/concepts/api-design.md
  docs/concepts/api-design.zh.md
  docs/reference/api/anthropic-compat.md
  docs/reference/api/anthropic-compat.zh.md
  docs/reference/api/openai-compat.md
  docs/reference/api/openai-compat.zh.md
  docs/reference/api/rest.md
  docs/reference/api/rest.zh.md
  internal/app/app.go
  internal/app/cmd_compare.go
  internal/app/cmd_resume.go
  internal/app/helpers.go
  internal/config/config.go
  internal/server/handlers/anthropic.go
  internal/server/handlers/openai.go
  internal/server/middleware/metrics.go
  internal/server/middleware/requestsize.go
  internal/server/middleware/requestsize_test.go
  internal/server/service/executor.go
  internal/server/service/prepare.go
  internal/session/filelock_unix.go
  internal/session/filelock_windows.go
  test/api/test_anthropic.sh
  test/api/test_openai.sh
Due: go-build, go-test, go-vet

test(openai): allow empty model lists when no backends are enabled
  internal/server/handlers/openai_test.go
  internal/server/server_test.go
Due: go-build, go-test, go-vet

fix: remove unused variable in server_test.go
  internal/server/server_test.go
Due: go-build, go-test, go-vet

feat: enforce backend enabled config and add API dry_run support (#60)
  config.example.yaml
  docs/concepts/api-design.md
  docs/concepts/api-design.zh.md
  docs/reference/api/anthropic-compat.md
  docs/reference/api/anthropic-compat.zh.md
  docs/reference/api/openai-compat.md
  docs/reference/api/openai-compat.zh.md
  docs/reference/api/rest.md
  docs/reference/api/rest.zh.md
  internal/app/app.go
  internal/app/cmd_compare.go
  internal/app/cmd_resume.go
  internal/app/helpers.go
  internal/config/config.go
  internal/server/handlers/anthropic.go
  internal/server/handlers/openai.go
  internal/server/handlers/openai_test.go
  internal/server/middleware/metrics.go
  internal/server/middleware/requestsize.go
  internal/server/middleware/requestsize_test.go
  internal/server/server_test.go
  internal/server/service/executor.go
  internal/server/service/prepare.go
  internal/session/filelock_unix.go
  internal/session/filelock_windows.go
  test/api/test_anthropic.sh
  test/api/test_openai.sh
Due: go-build, go-test, go-vet

docs: add Japanese language links to README files
  README.md
  README.zh.md
Due: none

docs: add Japanese language links to README files (#63)
  README.md
  README.zh.md
Due: none

docs(mcp): add MCP server integration design
  docs/plans/2026-02-11-mcp-server-integration-design.md
Due: none

feat(mcp): add MCP server support
  config.example.yaml
  docs/guides/integrations/index.ja.md
  docs/guides/integrations/index.md
  docs/guides/integrations/index.zh.md
  docs/guides/integrations/mcp-server.ja.md
  docs/guides/integrations/mcp-server.md
  docs/guides/integrations/mcp-server.zh.md
  docs/reference/cli/index.ja.md
  docs/reference/cli/index.md
  docs/reference/cli/index.zh.md
  docs/reference/cli/mcp.ja.md
  docs/reference/cli/mcp.md
  docs/reference/cli/mcp.zh.md
  internal/app/cmd_mcp.go
  internal/config/config.go
  internal/config/config_test.go
  internal/server/handlers/handlers_test.go
  internal/server/mcp/dispatcher.go
  internal/server/mcp/dispatcher_test.go
  internal/server/mcp/errors.go
  internal/server/mcp/errors_test.go
  internal/server/mcp/http.go
  internal/server/mcp/http_test.go
  internal/server/mcp/jsonrpc.go
  internal/server/mcp/jsonrpc_test.go
  internal/server/mcp/prompt_tool_test.go
  internal/server/mcp/protocol.go
  internal/server/mcp/registry.go
  internal/server/mcp/registry_test.go
  internal/server/mcp/schema.go
  internal/server/mcp/schema_test.go
  internal/server/mcp/stdio.go
  internal/server/mcp/stdio_test.go
  internal/server/mcp/streaming.go
  internal/server/mcp/streaming_test.go
  internal/server/mcp/testhelpers_test.go
  internal/server/mcp/tool_handlers_test.go
  internal/server/router.go
  internal/server/server.go
  internal/server/server_test.go
Due: go-build, go-test, go-vet

fix(mcp): align with MCP spec review findings
  .gitignore
  internal/server/mcp/dispatcher.go
  internal/server/mcp/dispatcher_test.go
  internal/server/mcp/http_test.go
  internal/server/server_test.go
Due: go-build, go-test, go-vet

docs(mcp): align design doc with implementation
  docs/plans/2026-02-11-mcp-server-integration-design.md
Due: none

fix(mcp): suppress HTTP responses for notifications
  internal/server/mcp/http.go
  internal/server/mcp/http_test.go
Due: go-build, go-test, go-vet

test(mcp): add dedicated MCP integration suites
  justfile
  test/README.md
  test/api/test_mcp.sh
  test/api/test_mcp_auth.sh
  test/lib/common.sh
  test/run_api_tests.sh
Due: none

fix(mcp): align error mapping and streaming failures
  internal/server/mcp/errors.go
  internal/server/mcp/errors_test.go
  internal/server/mcp/prompt_tool_test.go
  internal/server/mcp/registry.go
Due: go-build, go-test, go-vet

fix(mcp): protect health endpoint in MCP mode
  internal/app/cmd_mcp.go
  internal/server/router.go
  internal/server/server_test.go
Due: go-build, go-test, go-vet

fix(core): harden IP trust, resume flow, and timeout exits
  cmd/clinvk/main.go
  cmd/clinvk/main_test.go
  docs/reference/exit-codes.ja.md
  docs/reference/exit-codes.md
  docs/reference/exit-codes.zh.md
  internal/app/app.go
  internal/app/cmd_resume.go
  internal/app/stale_session.go
  internal/backend/registry.go
  internal/config/validate.go
  internal/config/validate_test.go
  internal/metrics/metrics_test.go
  internal/server/middleware/ratelimit.go
  internal/server/middleware/trusted_realip.go
  internal/server/middleware/trusted_realip_test.go
  internal/server/router.go
  internal/server/service/executor.go
  internal/server/service/runner.go
Due: go-build, go-test, go-vet

test(coverage): expand unit/e2e coverage and add CI gates
  .github/workflows/ci.yaml
  internal/app/app_entry_test.go
  internal/app/cmd_parallel_test.go
  internal/app/cmd_subcommands_test.go
  internal/app/execute_test.go
  internal/config/validate_test.go
  internal/executor/executor_test.go
  internal/executor/signal_unix_test.go
  internal/server/handlers/custom.go
  internal/server/handlers/validation.go
  internal/server/handlers/validation_fuzz_test.go
  internal/server/handlers/validation_test.go
  internal/server/mcp/http_fuzz_test.go
  internal/server/mcp/prompt_tool_test.go
  internal/server/mcp/registry.go
  internal/server/mcp/tool_handlers_test.go
  internal/server/service/executor_race_test.go
  internal/server/service/prepare_test.go
  internal/session/store_extra_test.go
  internal/session/store_race_test.go
  test/api/test_cli.sh
  test/api/test_mcp_stdio.sh
  test/cli/test_resume.sh
  test/cli/test_sessions.sh
  test/lib/common.sh
  test/run_api_tests.sh
  test/run_cli_tests.sh
Due: go-build, go-test, go-vet

ci(coverage): align union coverage gate with CI baseline
  .github/workflows/ci.yaml
Due: none

chore(docs): remove accidental plan artifact from PR
  docs/plans/2026-02-11-mcp-server-integration-design.md
Due: none

test(executor): stabilize unix signal forwarding test
  internal/executor/signal_unix_test.go
Due: go-build, go-test, go-vet

fix(nix): refresh vendor hash and automate lock updates
  .github/workflows/flake-lock-update.yaml
  flake.nix
Due: nix-flake-check, nixfmt

fix(nix): refresh vendor hash and automate lock updates (#67)
  .github/workflows/flake-lock-update.yaml
  flake.nix
Due: nix-flake-check, nixfmt

chore(nix): update flake.lock
  flake.lock
Due: nix-flake-check

chore(nix): update flake.lock (#68)
  flake.lock
Due: nix-flake-check

docs(site): align docs and README with current CLI behavior
  README.ja.md
  README.md
  README.zh.md
  docs/concepts/backend-system.ja.md
  docs/concepts/backend-system.md
  docs/concepts/backend-system.zh.md
  docs/concepts/contributing.ja.md
  docs/concepts/contributing.zh.md
  docs/concepts/design-decisions.ja.md
  docs/concepts/design-decisions.md
  docs/concepts/design-decisions.zh.md
  docs/concepts/faq.ja.md
  docs/concepts/faq.md
  docs/concepts/faq.zh.md
  docs/concepts/troubleshooting.ja.md
  docs/concepts/troubleshooting.md
  docs/concepts/troubleshooting.zh.md
  docs/guides/backends/claude.ja.md
  docs/guides/backends/claude.md
  docs/guides/basic-usage.ja.md
  docs/guides/basic-usage.md
  docs/guides/basic-usage.zh.md
  docs/guides/chains.ja.md
  docs/guides/chains.md
  docs/guides/chains.zh.md
  docs/guides/integrations/langchain-langgraph.ja.md
  docs/guides/integrations/langchain-langgraph.md
  docs/guides/integrations/langchain-langgraph.zh.md
  docs/reference/cli/index.md
  docs/reference/configuration.ja.md
  docs/reference/configuration.md
  docs/reference/configuration.zh.md
  docs/reference/environment.ja.md
  docs/reference/environment.md
  docs/reference/environment.zh.md
  docs/reference/index.ja.md
  docs/reference/index.md
  docs/reference/index.zh.md
  mkdocs.yml
Due: none

docs: refresh docs/README to match current CLI and MCP (#69)
  README.ja.md
  README.md
  README.zh.md
  docs/concepts/backend-system.ja.md
  docs/concepts/backend-system.md
  docs/concepts/backend-system.zh.md
  docs/concepts/contributing.ja.md
  docs/concepts/contributing.zh.md
  docs/concepts/design-decisions.ja.md
  docs/concepts/design-decisions.md
  docs/concepts/design-decisions.zh.md
  docs/concepts/faq.ja.md
  docs/concepts/faq.md
  docs/concepts/faq.zh.md
  docs/concepts/troubleshooting.ja.md
  docs/concepts/troubleshooting.md
  docs/concepts/troubleshooting.zh.md
  docs/guides/backends/claude.ja.md
  docs/guides/backends/claude.md
  docs/guides/basic-usage.ja.md
  docs/guides/basic-usage.md
  docs/guides/basic-usage.zh.md
  docs/guides/chains.ja.md
  docs/guides/chains.md
  docs/guides/chains.zh.md
  docs/guides/integrations/langchain-langgraph.ja.md
  docs/guides/integrations/langchain-langgraph.md
  docs/guides/integrations/langchain-langgraph.zh.md
  docs/reference/cli/index.md
  docs/reference/configuration.ja.md
  docs/reference/configuration.md
  docs/reference/configuration.zh.md
  docs/reference/environment.ja.md
  docs/reference/environment.md
  docs/reference/environment.zh.md
  docs/reference/index.ja.md
  docs/reference/index.md
  docs/reference/index.zh.md
  mkdocs.yml
Due: none

chore: release 0.4.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore: release 0.4.0 (#61)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix(ci): align release-please PR title pattern with component metadata
  release-please-config.json
Due: none

fix(ci): prevent release-please from stalling on merged release PR (#70)
  release-please-config.json
Due: none

test(auth,server): strengthen error and keystore coverage
  internal/auth/keystore_test.go
  internal/server/errors_test.go
Due: go-build, go-test, go-vet

test: improve server/auth coverage and error-path tests (#72)
  internal/auth/keystore_test.go
  internal/server/errors_test.go
Due: go-build, go-test, go-vet

fix(core): harden resilience, session storage and writer reentrancy
  internal/output/output_test.go
  internal/output/writer.go
  internal/resilience/circuitbreaker.go
  internal/resilience/circuitbreaker_test.go
  internal/session/store.go
  internal/session/store_test.go
Due: go-build, go-test, go-vet

fix(session): remove unparam file mode from atomic writer
  internal/session/store.go
  internal/session/store_test.go
Due: go-build, go-test, go-vet

fix: harden circuit breaker, session atomic writes, and writer callback safety (#73)
  internal/output/output_test.go
  internal/output/writer.go
  internal/resilience/circuitbreaker.go
  internal/resilience/circuitbreaker_test.go
  internal/session/store.go
  internal/session/store_test.go
Due: go-build, go-test, go-vet

chore((main)): release 0.4.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore((main)): release 0.4.1 (#71)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix(ci): stabilize release-please release-pr title parsing
  release-please-config.json
Due: none
